{% extends 'base.html' %}
{% load order %}
{% load filter %}
{% load display %}
{% block css %}
    {{ block.super }}
{% endblock css %}
{% block body %}

    <div class="breadcrumbs">
        <a href="/admin/">首页</a>
        &rsaquo; <a href="/admin/responsitory/">Responsitory</a>
        &rsaquo; <a href="/admin/responsitory/customerinfo/">客户表</a>
        &rsaquo; 匿名用户
    </div>

    <div id="content" class="colM">

    <h1>修改 customer info</h1>
    <div id="content-main">


    <ul class="object-tools">

        <li>

            <a href="/admin/responsitory/customerinfo/101/history/" class="historylink">历史</a>
        </li>


    </ul>


    <form enctype="multipart/form-data" action="" method="post" id="customerinfo_form" novalidate>
    <input type='hidden' name='csrfmiddlewaretoken'
           value='uJ5m4aVGz5Kma1I32tUEoxiIvOtDrUgdc9a4UD0gQzDToRAG1YEdd0QZzhMcMsc3'/>
    <div>







    <fieldset class="module aligned ">


        <div class="form-row field-name">


            <div>


                <label class="required" for="id_name">Name:</label>

                <input type="text" name="name" value="匿名用户" class="vTextField" maxlength="20" required id="id_name"/>


            </div>

        </div>

        <div class="form-row field-source">


            <div>


                <label class="required" for="id_source">来源:</label>

                <select name="source" required id="id_source">
                    <option value="">---------</option>

                    <option value="0">qq群</option>

                    <option value="1">51CTO</option>

                    <option value="2">百度推广</option>

                    <option value="3" selected>知乎</option>

                    <option value="4">转介绍</option>

                    <option value="5">其他论坛</option>

                </select>


            </div>

        </div>

        <div class="form-row field-contact">


            <div>


                <label class="required" for="id_contact">联系方式:</label>

                <select name="contact" required id="id_contact">
                    <option value="">---------</option>

                    <option value="0">qq</option>

                    <option value="1">微信</option>

                    <option value="2" selected>电话联系</option>

                </select>


            </div>

        </div>

        <div class="form-row field-consultant">


            <div>


                <label class="required" for="id_consultant">课程顾问:</label>

                <div class="related-widget-wrapper">
                    <select name="consultant" required id="id_consultant">
                        <option value="">---------</option>

                        <option value="1">yi</option>

                        <option value="2">钟宏丽</option>

                        <option value="3">韩妍英</option>

                        <option value="4">崔红仙</option>

                        <option value="5">吴专陶</option>

                        <option value="6">吕愉墨</option>

                        <option value="7">钟俊思</option>

                        <option value="8">曹弓帅</option>

                        <option value="9">曹弓帅</option>

                        <option value="10">关陶梓</option>

                        <option value="11">诸葛红可</option>

                        <option value="12">吴涵净</option>

                        <option value="13">司马懿</option>

                        <option value="14">吕莹宥</option>

                        <option value="15">关聪祥</option>

                        <option value="16">赵燕珴</option>

                        <option value="17">曹万偲</option>

                        <option value="18">关学军</option>

                        <option value="19">张乐玉</option>

                        <option value="20">邓泽陶</option>

                        <option value="21">陈陶高</option>

                        <option value="22">吴
                            烨
                        </option>

                        <option value="23">杨米玉</option>

                        <option value="24">邓儒陶</option>

                        <option value="25">张思珊</option>

                        <option value="26">赵陶陶</option>

                        <option value="27">郭媛艳</option>

                        <option value="28">司马文
                        </option>

                        <option value="29">吕诗桐</option>

                        <option value="30">钟曦清</option>

                        <option value="31">崔红仙</option>

                        <option value="32">赵儿天</option>

                        <option value="33">赵
                            娜
                        </option>

                        <option value="34">关海烨</option>

                        <option value="35">吴秀祥</option>

                        <option value="36">诸葛宗乐</option>

                        <option value="37">郭奉孝</option>

                        <option value="38">邓陶霞</option>

                        <option value="39">关聪祥</option>

                        <option value="40">曹红太</option>

                        <option value="41">司马陶倩</option>

                        <option value="42">崔绪陶</option>

                        <option value="43">杨陶陶</option>

                        <option value="44">赵儿天</option>

                        <option value="45">陈妹丽</option>

                        <option value="46">赵仔冰</option>

                        <option value="47">韩墨乐</option>

                        <option value="48">赵
                            娜
                        </option>

                        <option value="49">邓陶霞</option>

                        <option value="50">赵宏志</option>

                        <option value="51">司马懿</option>

                        <option value="52">吴楼姿</option>

                        <option value="53">yi</option>

                        <option value="54">曹璞莹</option>

                        <option value="55">孙辉陶</option>

                        <option value="56">关学军</option>

                        <option value="57">赵柔艺</option>

                        <option value="58">杨米玉</option>

                        <option value="59">钟二哲</option>

                        <option value="60">吴专陶</option>

                        <option value="61">贾洁涵</option>

                        <option value="62">曹璞莹</option>

                        <option value="63">诸葛宗乐</option>

                        <option value="64">陈琪
                        </option>

                        <option value="65">吴怀泽</option>

                        <option value="66" selected>钟希耘</option>

                        <option value="67">yi</option>

                        <option value="68">韩妍英</option>

                        <option value="69">吕诗桐</option>

                        <option value="70">曹弓帅</option>

                        <option value="71">钟冉烨</option>

                        <option value="72">吕愉墨</option>

                        <option value="73">邓儒陶</option>

                        <option value="74">郑习玉</option>

                        <option value="75">曹清陶</option>

                        <option value="76">赵陶茂</option>

                        <option value="77">钟希耘</option>

                        <option value="78">赵
                            娜
                        </option>

                        <option value="79">司马芳乐</option>

                        <option value="80">吴涵净</option>

                        <option value="81">钟二哲</option>

                        <option value="82">杨陶陶</option>

                        <option value="83">陈宥佩</option>

                        <option value="84">陈陶高</option>

                        <option value="85">郑秀俣</option>

                        <option value="86">陈陶高</option>

                        <option value="87">韩妍英</option>

                        <option value="88">张思珊</option>

                        <option value="89">司马懿</option>

                        <option value="90">陈宥佩</option>

                        <option value="91">吕倩净</option>

                        <option value="92">陈烨妍</option>

                        <option value="93">赵
                            娜
                        </option>

                        <option value="94">崔红仙</option>

                        <option value="95">钟曦清</option>

                        <option value="96">诸葛宗乐</option>

                        <option value="97">韩流辰</option>

                        <option value="98">关聪祥</option>

                        <option value="99">钟二哲</option>

                        <option value="100">zhaoziyi</option>

                        <option value="101">韩玉雪</option>

                        <option value="102">陈陶高</option>

                        <option value="103">邓喻陶</option>

                        <option value="104">yi</option>

                        <option value="105">杨陶陶</option>

                        <option value="106">邓陶霞</option>

                        <option value="107">郑琳雅</option>

                    </select>

                    <a class="related-widget-wrapper-link change-related" id="change_id_consultant"
                       data-href-template="/admin/responsitory/userinfo/__fk__/change/?_to_field=id&amp;_popup=1"
                       title="更改选中的user info"><img src="/static/admin/img/icon-changelink.svg" alt="修改"/></a><a
                        class="related-widget-wrapper-link add-related" id="add_id_consultant"
                        href="/admin/responsitory/userinfo/add/?_to_field=id&amp;_popup=1"
                        title="增加另一个 user info"><img src="/static/admin/img/icon-addlink.svg" alt="增加"/></a>

                </div>


            </div>

        </div>

        <div class="form-row field-status">


            <div>


                <label class="required" for="id_status">状态:</label>

                <select name="status" required id="id_status">
                    <option value="">---------</option>

                    <option value="0">未报名</option>

                    <option value="1" selected>已报名</option>

                    <option value="2">已退学</option>

                </select>


            </div>

        </div>

        <div class="form-row field-consult_courses">


            <div>


                <label class="required" for="id_consult_courses">咨询课程:</label>

                <div class="related-widget-wrapper">
                    <select name="consult_courses" required id="id_consult_courses" multiple="multiple">
                        <option value="1" selected>行动的习惯</option>

                        <option value="2" selected>它。积极行</option>

                        <option value="3" selected>。这时候，</option>

                        <option value="4" selected>绳索，我们</option>

                        <option value="5" selected>们最好把它</option>

                        <option value="6" selected>，后者却前</option>

                        <option value="7" selected>afety</option>

                        <option value="8" selected>手上的正是</option>

                        <option value="9" selected>需要的机会</option>

                        <option value="10" selected>千个好主意</option>

                        <option value="11" selected>我很乐意这</option>

                        <option value="12" selected>的另一个标</option>

                        <option value="13" selected>有自己依靠</option>

                        <option value="14" selected>和第三阶</option>

                        <option value="15" selected>不及了为</option>

                        <option value="16" selected>个坏习惯</option>

                        <option value="17">参与未来</option>

                        <option value="18" selected>下去，并</option>

                        <option value="19" selected>去行动，最</option>

                        <option value="20" selected>love</option>

                        <option value="21" selected>love</option>

                        <option value="22">迟迟不去行</option>

                        <option value="23" selected>有的条件都</option>

                        <option value="24" selected> django</option>

                        <option value="25" selected>的人。那些</option>

                        <option value="26" selected>，但却很难</option>

                        <option value="27" selected>所得来的。</option>

                        <option value="28" selected>love</option>

                        <option value="29" selected>就要越主动</option>

                        <option value="30" selected>此时送给你</option>

                        <option value="31" selected>，但我们可</option>

                        <option value="32" selected> django</option>

                        <option value="33" selected>完成最大目</option>

                        <option value="34" selected> django</option>

                        <option value="35" selected>必须考虑行</option>

                        <option value="36" selected>ur
                            　　
                        </option>

                        <option value="37" selected>你需要行动</option>

                        <option value="38" selected>
                            　　sa
                        </option>

                        <option value="39" selected>果，只有明</option>

                        <option value="40" selected>结果必定会</option>

                        <option value="41" selected>业有成，却</option>

                        <option value="42" selected>得看好习惯</option>

                        <option value="43" selected>东西不是由</option>

                        <option value="44" selected> django</option>

                        <option value="45" selected>动。就如同</option>

                        <option value="46" selected>慌言。好主</option>

                        <option value="47" selected>就是引领我</option>

                        <option value="48" selected>每个人在决</option>

                    </select>

                    <a class="related-widget-wrapper-link add-related" id="add_id_consult_courses"
                       href="/admin/responsitory/courseinfo/add/?_to_field=id&amp;_popup=1"
                       title="增加另一个 course info"><img src="/static/admin/img/icon-addlink.svg" alt="增加"/></a>

                </div>


                <div class="help">按住 ”Control“，或者Mac上的 “Command”，可以选择多个。</div>

            </div>

        </div>

        <div class="form-row field-consult_content">


            <div>


                <label class="required" for="id_consult_content">咨询内容:</label>

                <textarea name="consult_content" cols="40" rows="10" class="vLargeTextField" required
                          id="id_consult_content">
多的劳动和创造换来的。我原本是普普通通的常人，原本没有头上的桂冠，但我以坚强的毅力、顽强的耕耘，孜孜以求，终于功成名就。我的名誉不是虚名，是血汗浇铸的王冠，些许浅薄的嫉恨和无知的浅薄，都是对我的不公平。
　　我们的财富是对我们勤奋的嘉奖。让我们坚定信念，认定目标，凭着对上帝意志的信心，继续努力吧，我的儿子。
　　爱你的父亲
　　第十六封：不要找借口
　　格言：借口是制造失败的根源。
　　一个人越是成功</textarea>


            </div>

        </div>

        <div class="form-row field-introduce_customer">


            <div>


                <label for="id_introduce_customer">转介绍学员:</label>

                <div class="related-widget-wrapper">
                    <select name="introduce_customer" id="id_introduce_customer">
                        <option value="" selected>---------</option>

                        <option value="1">匿名用户</option>

                        <option value="2">匿名用户</option>

                        <option value="3">匿名用户</option>

                        <option value="4">匿名用户</option>

                        <option value="5">匿名用户</option>

                        <option value="6">匿名用户</option>

                        <option value="7">匿名用户</option>

                        <option value="8">匿名用户</option>

                        <option value="9">匿名用户</option>

                        <option value="10">匿名用户</option>

                        <option value="11">匿名用户</option>

                        <option value="12">匿名用户</option>

                        <option value="13">匿名用户</option>

                        <option value="14">匿名用户</option>

                        <option value="15">匿名用户</option>

                        <option value="16">匿名用户</option>

                        <option value="17">匿名用户</option>

                        <option value="18">匿名用户</option>

                        <option value="19">匿名用户</option>

                        <option value="20">匿名用户</option>

                        <option value="21">匿名用户</option>

                        <option value="22">匿名用户</option>

                        <option value="23">匿名用户</option>

                        <option value="24">匿名用户</option>

                        <option value="25">匿名用户</option>

                        <option value="26">匿名用户</option>

                        <option value="27">匿名用户</option>

                        <option value="28">匿名用户</option>

                        <option value="29">匿名用户</option>

                        <option value="30">匿名用户</option>

                        <option value="31">匿名用户</option>

                        <option value="32">匿名用户</option>

                        <option value="33">匿名用户</option>

                        <option value="34">匿名用户</option>

                        <option value="35">匿名用户</option>

                        <option value="36">匿名用户</option>

                        <option value="37">匿名用户</option>

                        <option value="38">匿名用户</option>

                        <option value="39">匿名用户</option>

                        <option value="40">匿名用户</option>

                        <option value="41">匿名用户</option>

                        <option value="42">匿名用户</option>

                        <option value="43">匿名用户</option>

                        <option value="44">匿名用户</option>

                        <option value="45">匿名用户</option>

                        <option value="46">匿名用户</option>

                        <option value="47">匿名用户</option>

                        <option value="48">匿名用户</option>

                        <option value="49">匿名用户</option>

                        <option value="50">匿名用户</option>

                        <option value="51">匿名用户</option>

                        <option value="52">匿名用户</option>

                        <option value="53">匿名用户</option>

                        <option value="54">匿名用户</option>

                        <option value="55">匿名用户</option>

                        <option value="56">匿名用户</option>

                        <option value="57">匿名用户</option>

                        <option value="58">匿名用户</option>

                        <option value="59">匿名用户</option>

                        <option value="60">匿名用户</option>

                        <option value="61">匿名用户</option>

                        <option value="62">匿名用户</option>

                        <option value="63">匿名用户</option>

                        <option value="64">匿名用户</option>

                        <option value="65">匿名用户</option>

                        <option value="66">匿名用户</option>

                        <option value="67">匿名用户</option>

                        <option value="68">匿名用户</option>

                        <option value="69">匿名用户</option>

                        <option value="70">匿名用户</option>

                        <option value="71">匿名用户</option>

                        <option value="72">匿名用户</option>

                        <option value="73">匿名用户</option>

                        <option value="74">匿名用户</option>

                        <option value="75">匿名用户</option>

                        <option value="76">匿名用户</option>

                        <option value="77">匿名用户</option>

                        <option value="78">匿名用户</option>

                        <option value="79">匿名用户</option>

                        <option value="80">匿名用户</option>

                        <option value="81">匿名用户</option>

                        <option value="82">匿名用户</option>

                        <option value="83">匿名用户</option>

                        <option value="84">匿名用户</option>

                        <option value="85">匿名用户</option>

                        <option value="86">匿名用户</option>

                        <option value="87">匿名用户</option>

                        <option value="88">匿名用户</option>

                        <option value="89">匿名用户</option>

                        <option value="90">匿名用户</option>

                        <option value="91">匿名用户</option>

                        <option value="92">匿名用户</option>

                        <option value="93">匿名用户</option>

                        <option value="94">匿名用户</option>

                        <option value="95">匿名用户</option>

                        <option value="96">匿名用户</option>

                        <option value="97">匿名用户</option>

                        <option value="98">匿名用户</option>

                        <option value="99">匿名用户</option>

                        <option value="100">匿名用户</option>

                        <option value="101">匿名用户</option>

                    </select>

                    <a class="related-widget-wrapper-link change-related" id="change_id_introduce_customer"
                       data-href-template="/admin/responsitory/customerinfo/__fk__/change/?_to_field=id&amp;_popup=1"
                       title="更改选中的customer info"><img src="/static/admin/img/icon-changelink.svg" alt="修改"/></a><a
                        class="related-widget-wrapper-link add-related" id="add_id_introduce_customer"
                        href="/admin/responsitory/customerinfo/add/?_to_field=id&amp;_popup=1"
                        title="增加另一个 customer info"><img src="/static/admin/img/icon-addlink.svg" alt="增加"/></a>

                </div>


            </div>

        </div>

    </fieldset>













    <div class="submit-row">
        <input type="submit" value="保存" class="default" name="_save"/>


        <p><a href="/admin/responsitory/customerinfo/101/delete/" class="deletelink">删除</a></p>


        <input type="submit" value="保存并增加另一个" name="_addanother"/>
        <input type="submit" value="保存并继续编辑" name="_continue"/>
    </div>
{% endblock body %}


{% block js %}
    {{ block.super }}
{% endblock js %}

