    <div id="content" class="colM">

        <h1>你确定吗？</h1>


    <p>你确认想要删除 customer info "匿名用户"？ 下列所有相关的项目都将被删除：</p>

<h2>概览</h2>
<ul>

    <li>客户表: 1</li>

    <li>Customerinfo-courseinfo关系: 3</li>

    <li>客户跟踪表: 1</li>

</ul>

    <h2>对象</h2>
    <ul>	<li>Customer info: <a href="/admin/responsitory/customerinfo/100/change/">匿名用户</a>
	<ul>
		<li>Customerinfo-courseinfo关系: CustomerInfo_consult_courses object</li>
		<li>Customerinfo-courseinfo关系: CustomerInfo_consult_courses object</li>
		<li>Customerinfo-courseinfo关系: CustomerInfo_consult_courses object</li>
		<li>Customer follow up info: <a href="/admin/responsitory/customerfollowupinfo/70/change/">赵儿天 跟踪 匿名用户</a></li>
	</ul>
	</li></ul>
    <form method="post"><input type='hidden' name='csrfmiddlewaretoken' value='C51TFmGpsGq1qW5pOfrDWKkacG4TmGQNkv6BvPLZJajyEMX2NKbcLdSrg9nsHeMD' />
    <div>
    <input type="hidden" name="post" value="yes" />


    <input type="submit" value="是的，我确定" />
    <a href="#" class="button cancel-link">不，返回</a>
    </div>
    </form>